* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://wallpaperaccess.com/full/33214.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
}
nav {
  display: flex;
  padding: 20px 100px;
  align-items: center;
}
nav img {
  width: 150px;
}
nav ul {
  text-align: right;
  display: inline;
  list-style: none;
  flex: 1;
}
nav ul li {
  display: inline-block;
  margin: 0 20px;
}
.main-text {
  margin: auto;
  text-align: center;
}
.main-text h1 {
  font-size: 50px;
  color: #fff;
}
.main-text h2 {
  color: #fff;
}
.main-text h3 {
  color: #fff;
}
.main-text .button {
  text-decoration: none;
  display: block;
  width: 100px;
  height: 35px;
  margin: 25px auto;
  color: #fff;
  line-height: 35px;
  border: 1px solid #fff;
}
.button:hover {
  background: #fff;
  color: #fff;
  transition: 0.8s;
}
